@{
    ViewBag.Title = "Página de Inicio";
}

<div class="jumbotron">
    <h1>Homini POC</h1>
    <p class="lead">
        Prueba de concepto

        Planteamiento

        En el sistema telefónico de un país los departamentos tienen un indicativo de dos dígitos y los municipios un indicativo de 5 cifras el cual se compone de los dos dígitos del código del departamento al que pertenece el municipio mas otros 3 dígitos únicos por cada municipio (único al departamento al que pertenecen).

        Ejemplo

        Departamentos Nombre Código
        Antioquia 04 Cundinamarca 01

        Municipios Nombre Código
        Itagui 04001
        Envigado 04154
        Bogota 01001
        Soacha 01020

        Problema Se requiere un sistema que permita la administración de departamentos y municipios y la asignación de los códigos telefónicos. Además, se requiere una funcionalidad en la cual el usuario entrará un indicativo y el sistema deberá informar el municipio y el departamento al que pertenece el indicativo ej: el usuario ingresa 04154 el sistema deberá informar que el indicativo es del municipio de envigado que queda en el departamento de Antioquia

        Restricciones ▪ La BD debe ser SQL Server ▪ El desarrollo debe ser hecho en .net(vb o c#) ▪ Lo municipios deben pertenecer a un departamento. ▪ Cuando el departamento cambie de indicativo, este cambio se debe ver reflejado en el código del municipio. ▪ Los códigos deben ser numéricos. ▪ Los nombres de los departamentos y municipios solo deben permitir letras.

    </p>
</div>